.clearfix
  .text-line
    .title-md.font-light
      Members
  .clearfix
    %span(ng-repeat="member in members track by $index")
      .col-xs-3
        .text-line
          %a(ng-href="/members/{{member.id}}") 
            .userpic
              %img(ng-src="{{::member.avatar}}")
            .gutter-top-sm.text-center
              {{::member.first_name}} {{::member.last_name}}
      .col-12(ng-if="($index + 1) % 4 == 0")

  .gutter-vertical-2x
    %pagination(page="page" per-page="25" items-count="count")

