.settings-form
  .todo-head.settings-head
    .todo-list-name
      %p Settings
  .todo-form.settings-body
    .form-group
      %input.todo-input.form-control(type="text" ng-model="user.first_name" auto-save-input="update()" placeholder="First name")
    .form-group
      %input.todo-input.form-control(type="text" ng-model="user.last_name" auto-save-input="update()" placeholer="Last name")
    .form-group
      %textarea.todo-input.form-control(ng-model="user.about" auto-save-input="update()" placeholder="About")
    .form-group
      %input.todo-input.form-control(type="email" ng-model="user.email" auto-save-input="update()" placeholer="Email")