$border-radius-base:             4px;
$border-radius-small:            $border-radius-base;
$border-radius-large:            $border-radius-base;

$btn-border-radius-base:         $border-radius-base - 2px;
$btn-border-radius-large:        $border-radius-base - 2px;
$btn-border-radius-small:        $border-radius-base - 2px;

$input-border-radius:            2px;
$header-input-height:            2.6em;
$header-height:                  9.7rem;
$catalog-menu-height:            4.5rem;
$product-card-radius:            0.8rem;
