$font-size-base: 16px;

$font-family-sans-serif: "Arsenal", sans-serif;
$font-family-base: $font-family-sans-serif;

$fw-norm: 400;
$fw-bold: 700;

$font-weights: (
  (norm, $fw-norm),
  (semi, $fw-norm),
  (bold, $fw-bold),
);


$link-hover-decoration: none;

$typo-presets: (text, head, title);
$typo-start: 0.6em;
$typo-steps: (xs, sm, norm, md, lg);
$product-card-font-size: 1.3rem;
