.btn {
  outline: none!important;
  @include transition-duration(0.2s);
  @each $color in $button-colors {
    &-#{nth($color, 1)}{
      @include button-variant(nth($color, 2), nth($color, 3), nth($color, 4));
    }
  }
  .btn-xs {
    font-size: 0.9em;
  }
  &-addon {
    position: relative;
    padding-right: 3.3em;
    span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.09);
      border-left: 1px solid rgba(0, 0, 0, 0.06);
      padding: 6px 12px;
    }
  }
  &-default {
    border-color: #ddd;
    &, &:focus {
      border-color: #ccc;
      color: #666;
    }
    &:hover, &:active {
      color: #555;
      border-color: #ccc;
      background-color: #efefef;
    }
  }
}
