!!!
%html(ng-app="app")
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script(type="text/javascript")
      window.anonymousUser = #{!user_signed_in?}
  %body(ng-controller="mainCtrl")
    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          %a.navbar-brand(href="#") Parkpic
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.pull-right
            %li(ng-hide="user")
              %a(ng-href="/sign_up") Sign up
            %li(ng-hide="user")
              %a(ng-href="/sign_in") Sign in
            %li(ng-show="user")
              %a(ng-href="/sign_in" ng-click="logout()") Sign out
    .container(ng-view)
      %footer
        %p &copy; Parkpic 2015
